@font-face {
    /*подключаем шрифт, сначала скачиваем его и переносим либо всю папку либо конкретный файл шрифта в папку (у меня шрифты лежат в папке fonts)*/
    src: url(/src/fonts/Raleway-Regular00.ttf);
    /*с помощью src вытаскиваем файл который нам нужен, пишем относительный путь к файлу шрифта, так как мы находимся в папке css в файле style, нужно выйти на папку выше (../) зайти в папку fonts (fonts/) и выбрать нужный файл, не забываем расширение .ttf*/
    font-family: Raleway;
    /*обязательно указываем название шрифта, его можно придумать самостоятельно, важно, чтобы данное название совпадало с тем, которое вы пишите когда присваиваете этот шрифт чему-либо ( в моем случае на в строке 7 я присваиваю его всему сайту, потмоу что пишу font-family в теге body)*/

}
@font-face {
    /*подключаем шрифт, сначала скачиваем его и переносим либо всю папку либо конкретный файл шрифта в папку (у меня шрифты лежат в папке fonts)*/
    src: url(/src/fonts/Montserrat-Regular.ttf);
    /*с помощью src вытаскиваем файл который нам нужен, пишем относительный путь к файлу шрифта, так как мы находимся в папке css в файле style, нужно выйти на папку выше (../) зайти в папку fonts (fonts/) и выбрать нужный файл, не забываем расширение .ttf*/
    font-family: Montserrat;
    /*обязательно указываем название шрифта, его можно придумать самостоятельно, важно, чтобы данное название совпадало с тем, которое вы пишите когда присваиваете этот шрифт чему-либо ( в моем случае на в строке 7 я присваиваю его всему сайту, потмоу что пишу font-family в теге body)*/
}
.ui{
    font-family: Montserrat;
    color: white;
    font-size: 17px;
    padding-top: 80px;
    padding-bottom: 0px;
    margin-bottom: 5px;

}
form{
    width:50%;
    padding:0px 0px;
    font-family: Raleway;
    height:100%;
    display: flex;
    flex-direction: column;
    
    }
    .te{width: auto;
        
    
    }
    .GL{width: 50%;margin-right: 10.5%;
        /* background-color: aquamarine; */
      
    }
    .Tt{
        font-size: 10px;
        color: white;
        margin-top: 0px;
        text-shadow: 1px 1px 2px rgb(7, 0, 1);
    }
    input{
        margin: 5px 0px 0px 0px;
        padding: 5px;
        font-size: 17px;
        font-family: Raleway;
        border-radius: 1% 1% 1% 1%;
    }
    textarea{
        margin: 5px 0px 0px 0px;
        height: 130px;
        font-size: 17px;
        font-family: Raleway;
        border-radius: 1% 1% 1% 1%;
    }
    .knop4{
        background-color: rgb(13, 130, 89);
        height: 28px;
        width: 100px;
        color: white;
        font-family: Montserrat;
        font-size: 15px;
        margin: 5px 0px;
        border-radius: 1% 1% 1% 1%;

    }
    @media screen and (max-width: 1600px) {
        form{
          
            width:100%;
            margin-right:0% ;
            padding:0px 0px;
            font-family: Raleway;
            
            
            height:100%;
            display: flex;
            flex-direction: column;
            
            }
            .GL{width: 50%;margin-right: 2.5%;}
    }
    @media screen and (max-width: 650px) {
        .GL{width: 100%;
            /* background-color: aquamarine; */
          
        }
        form{
            margin:0px 2.5% ;
        }
            .ui{
           
            padding-top:0px;
         
        
        }  
      
    }